.simple-sliders-containers{
    display: flex;
    box-sizing: border-box;
    max-width: 100% !important;
    height: auto;
    padding: 0rem 2.5rem 0rem 2rem;
}
.label{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0rem 2rem;
}
.MuiSlider-container-8{
    max-width: 100%;
}